<footer class="edgtf-page-footer" style="padding: 0px;"> 
    <div class="edgtf-footer-bottom-holder">
        <div class="edgtf-footer-bottom-inner edgtf-full-width">
            <div class="edgtf-grid-row ">
                <div class="edgtf-grid-col-6">
                    <div id="text-2" class="widget edgtf-footer-bottom-column-1 widget_text">
                        <div class="textwidget">
                            <h6 style="color: #3c3556;">Desenvolvido por <a href="#" target="_blank" rel="noopener noreferrer">TH's</a></h6>
                        </div>
                    </div>
                </div>
                <div class="edgtf-grid-col-6">
                    <div id="text-3" class="widget edgtf-footer-bottom-column-2 widget_text">
                        <div class="textwidget">
                            <h6 style="color: #3c3556;">2020 - Todos os Diretos Reservados</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>