<div class="vc_row wpb_row vc_row-fluid edgtf-mobile-row-left-alignment vc_custom_1572943847257 vc_row-o-content-middle vc_row-flex"
    style="background-color:#150f1a">
    <div
        class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-4 vc_col-md-offset-0 vc_col-md-4 vc_col-sm-offset-0 vc_col-xs-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div
                    class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 edgtf-one-column-alignment-center">
                    <div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-1319" data-1400-1600="0 0 0 0"
                        data-1025-1399="0 0 0 0" data-769-1024="0 0 0 0" data-681-768="0 0 40px 270px"
                        data-680="0 0 40px 90px">
                        <div class="edgtf-eh-item-inner">
                            <div class="edgtf-eh-item-content edgtf-eh-custom-1319" style="padding: 0 0 0 0">
                                <div class="wpb_single_image wpb_content_element vc_align_left">
                                    <figure class="wpb_wrapper vc_figure">
                                        <a href="https://overworld.qodeinteractive.com/" target="_self"
                                            class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                class="vc_single_image-img "
                                                src="/static/images/2020/01/footer-logo-OVERWORLD-180x88.png"
                                                width="180" height="88" alt="a" title="footer-logo-OVERWORLD" /></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-4 vc_col-md-offset-0 vc_col-md-4 vc_col-sm-offset-0 vc_col-xs-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_single_image wpb_content_element vc_align_center">
                    <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="596" height="60"
                                src="/static/images/2019/11/h2-payment-img.jpg"
                                class="vc_single_image-img attachment-full" alt="a" />
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>

</div>