{% extends 'base.html' %}

{% block content %}
<div class="edgtf-wrapper">
    <div class="edgtf-wrapper-inner">
        <div class="edgtf-fullscreen-search-holder">
            <a class="edgtf-search-close edgtf-search-close-svg-path" href="javascript:void(0)">
            </a>
            <div class="edgtf-fullscreen-search-table">
                <div class="edgtf-fullscreen-search-cell">
                    <div class="edgtf-fullscreen-search-inner">
                        <form action="https://overworld.qodeinteractive.com/" class="edgtf-fullscreen-search-form"
                            method="get">
                            <div class="edgtf-form-holder">
                                <div class="edgtf-form-holder-inner">
                                    <div class="edgtf-field-holder">
                                        <input type="text" placeholder="Search_" name="s" class="edgtf-search-field"
                                            autocomplete="off" required />
                                    </div>
                                    <button type="submit" class="edgtf-search-submit edgtf-search-submit-svg-path">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="18.25px" height="17.25px">
                                            <path fill-rule="evenodd" stroke="currentColor" stroke-width="1.5px"
                                                stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                                                d="M16.744,14.830 L15.794,15.739 L11.835,11.948 C10.657,12.941 9.129,13.562 7.437,13.562 C3.744,13.562 0.750,10.694 0.750,7.156 C0.750,3.618 3.744,0.750 7.437,0.750 C11.131,0.750 14.125,3.618 14.125,7.156 C14.125,8.608 13.601,9.932 12.751,11.007 L16.744,14.830 Z" />
                                        </svg>
                                    </button>
                                    <div class="edgtf-line"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include  'partials/header_aside.html'%}

        <a id='edgtf-back-to-top' href='#'>
            <span class="edgtf-icon-stack">
                <i class="edgtf-icon-ion-icon ion-android-arrow-up "></i> <span class="edgtf-btt-bg-holder"></span>
            </span>
        </a>

        <div class="edgtf-content">
            <div class="edgtf-content-inner">
                <div class="edgtf-full-width">
                    <div class="edgtf-full-width-inner">
                        <div class="edgtf-grid-row">
                            <div class="edgtf-page-content-holder edgtf-grid-col-12">

                                {% include  'partials/header_topo.html'%}

                                {% include  'home/_banners.html' %}

                         

                                <!-- <div
                                    class="vc_row wpb_row vc_row-fluid edgtf-mobile-row-left-alignment vc_custom_1572856762388 edgtf-content-aligment-right">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 menu-radial menu-categorias">  
                                    </div>
                                </div> -->

                                {% include  'home/StepSelection/PricesComparation.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include  'home/_footer.html' %}

        </div>
    </div>

    {% endblock %}

    {% block scripts %}


    {% endblock %}