.menu-radial{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 550px;
}

.arma-radial{
    width: 50px;
    height: auto;
}


.weapon-1 img{
    transform: rotate(27deg);
    position: absolute;
    top: 6px;
    right: 74px;
}
.weapon-1 span{
    left: 76px;
    top: 28px;
    transform: rotate(30deg);
    position: absolute;
}


.weapon-2 img{
    transform: rotate(330deg);
    position: absolute;
    top: 11px;
    right: 78px;
}
.weapon-2 span{
    left: 90px;
    top: 31px;
    transform: rotate(-28deg);
    position: absolute;
}

.weapon-3 img{
    transform: rotate(265deg);
    position: absolute;
    top: 15px;
    right: 80px;
}
.weapon-3 span{
    left: 100px;
    top: 12px;
    transform: rotate(-90deg);
    position: absolute;
}

.weapon-4 img{
    transform: rotate(208deg);
    position: absolute;
    top: 20px;
    right: 76px;
}
.weapon-4 span{
    left: 102px;
    top: -5px;
    transform: rotate(208deg);
    position: absolute;
}

.weapon-6 img{
    transform: rotate(88deg);
    position: absolute;
    top: 15px;
    right: 67px;
}
.weapon-6 span{
    left: 64px;
    top: 12px;
    transform: rotate(91deg);
    position: absolute;
}

.weapon-5 img{
    transform: rotate(149deg);
    position: absolute;
    top: 21px;
    right: 72px;
}
.weapon-5 span{
    left: 75px;
    top: -2px;
    transform: rotate(150deg);
    position: absolute;
}

