
.menu-radial ul {
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  -moz-transition: ease-out 0.3s all;
  -o-transition: ease-out 0.3s all;
  -webkit-transition: ease-out 0.3s all;
  transition: ease-out 0.3s all;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
}
.menu-radial ul li {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform-origin: 100% 100%;
  overflow: hidden;
  display: none;
}
.menu-radial ul li a {
  color: #fff;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  background: #2f1c3d;
  font-size: 12px;
  font-weight: 700;
  font-family: Rajdhani, sans-serif;
  line-height: 40px;
  transition: all 0.7s;
  border: 1px solid #bbb6c1;
}
.menu-radial ul li:nth-child(odd) a {
  background: #21132c;
}
.menu-radial ul li:nth-child(1) {
  display: block;
  -moz-transform: rotate(60deg) skew(30deg);
  -ms-transform: rotate(60deg) skew(30deg);
  -webkit-transform: rotate(60deg) skew(30deg);
  transform: rotate(60deg) skew(30deg);
}
.menu-radial ul li:nth-child(1) a {
  transform: skew(-30deg) rotate(-60deg);
}
.menu-radial ul li:nth-child(1) a:hover {
 background: #fafdfe;
    color: #461b82;
}
.menu-radial ul li:nth-child(2) {
  display: block;
  -moz-transform: rotate(120deg) skew(30deg);
  -ms-transform: rotate(120deg) skew(30deg);
  -webkit-transform: rotate(120deg) skew(30deg);
  transform: rotate(120deg) skew(30deg);
}
.menu-radial ul li:nth-child(2) a {
  transform: skew(-30deg) rotate(-60deg);
}
.menu-radial ul li:nth-child(2) a:hover {
 background: #fafdfe;
    color: #461b82;
}
.menu-radial ul li:nth-child(3) {
  display: block;
  -moz-transform: rotate(180deg) skew(30deg);
  -ms-transform: rotate(180deg) skew(30deg);
  -webkit-transform: rotate(180deg) skew(30deg);
  transform: rotate(180deg) skew(30deg);
}
.menu-radial ul li:nth-child(3) a {
  transform: skew(-30deg) rotate(-60deg);
}
.menu-radial ul li:nth-child(3) a:hover {
 background: #fafdfe;
    color: #461b82;
}
.menu-radial ul li:nth-child(4) {
  display: block;
  -moz-transform: rotate(240deg) skew(30deg);
  -ms-transform: rotate(240deg) skew(30deg);
  -webkit-transform: rotate(240deg) skew(30deg);
  transform: rotate(240deg) skew(30deg);
}
.menu-radial ul li:nth-child(4) a {
  transform: skew(-30deg) rotate(-60deg);
}
.menu-radial ul li:nth-child(4) a:hover {
 background: #fafdfe;
    color: #461b82;
}
.menu-radial ul li:nth-child(5) {
  display: block;
  -moz-transform: rotate(300deg) skew(30deg);
  -ms-transform: rotate(300deg) skew(30deg);
  -webkit-transform: rotate(300deg) skew(30deg);
  transform: rotate(300deg) skew(30deg);
}
.menu-radial ul li:nth-child(5) a {
  transform: skew(-30deg) rotate(-60deg);
}
.menu-radial ul li:nth-child(5) a:hover {
 background: #fafdfe;
    color: #461b82;
}
.menu-radial ul li:nth-child(6) {
  display: block;
  -moz-transform: rotate(360deg) skew(30deg);
  -ms-transform: rotate(360deg) skew(30deg);
  -webkit-transform: rotate(360deg) skew(30deg);
  transform: rotate(360deg) skew(30deg);
}
.menu-radial ul li:nth-child(6) a {
  transform: skew(-30deg) rotate(-60deg);
}
.menu-radial ul li:nth-child(6) a:hover {
 background: #fafdfe;
    color: #461b82;
}
.menu-radial ul li.close {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 18px);
  top: calc(50% - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-transform: scale(3.8) rotate(45deg);
  -ms-transform: scale(3.8) rotate(45deg);
  -webkit-transform: scale(3.8) rotate(45deg);
  transform: scale(3.8) rotate(45deg);
  -moz-transition: ease-in-out 0.3s all;
  -o-transition: ease-in-out 0.3s all;
  -webkit-transition: ease-in-out 0.3s all;
  transition: ease-in-out 0.3s all;
  -webkit-transform-origin: 50% 50%;
  transform: rotate(30deg);
}
.menu-radial ul li.close img {
  width: 95%;
}
.menu-radial ul.active {
  transform: rotate(-30deg) scale(2.5);
}

.menu-radial{
  min-height: 405px;
  display: flex;
  justify-content: center;
}
.menu-radial .close div{
  content: '';
}



.box-skin{
  margin: 20px;
  height: auto;
  padding: 20px;
  box-shadow: -4px 5px 7px 1px rgb(114 40 226) !important;
}

.box-skin .box-holder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-direction-column{
  min-height: 405px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


table tbody th, table tbody tr, table thead th, table thead tr{
  border-color: transparent;
}
.table-comparation{
  width: 80%;
  color: #fff;
  font-size: 24px;
  font-family: Rajdhani, sans-serif;
  font-weight: 500;
  padding: 20px !important;
  border: 2px solid #6b54b6;
  border-collapse: initial;
}

.table-comparation .image-logo{
  width: 150px;
  margin-bottom: 15px;
}

.table-comparation .coluna-logo{
  vertical-align: middle;
}

.table-comparation tbody tr th{
  text-align: left;
  font-weight: 600;
}
.image-change-weapon{
  width: 14px;
  right: 60px !important;
  top: 12px !important;
  z-index: 99999999;
}

