<div class="vc_row wpb_row vc_row-fluid vc_custom_1574410818827">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div
                    class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 edgtf-one-column-alignment-center">
                    <div class="edgtf-eh-item   edgtf-horizontal-alignment-center "
                        data-item-class="edgtf-eh-custom-2515" data-1400-1600="0 0" data-1025-1399="0 0"
                        data-769-1024="0 0" data-681-768="0 0" data-680="0 0">
                        <div class="edgtf-eh-item-inner">
                            <div class="edgtf-eh-item-content edgtf-eh-custom-2515" style="padding: 0 70px">
                                <div class="edgtf-link-list-holder">
                                    <div class="edgtf-link-item ">
                                        <div class="edgtf-link-item-inner">
                                            <div class="edgtf-link-item-image">
                                                <img width="34" height="33"
                                                    src="/static/images/2019/11/h2-icon-small-1.png"
                                                    class="attachment-full size-full" alt="a" />
                                            </div>
                                            <div class="edgtf-link-item-text">
                                                WOW
                                            </div>
                                            <a itemprop="url" class="edgtf-link-item-link" href="#" target="_self"></a>
                                        </div>
                                    </div>
                                    <div class="edgtf-link-item ">
                                        <div class="edgtf-link-item-inner">
                                            <div class="edgtf-link-item-image">
                                                <img width="34" height="33"
                                                    src="/static/images/2019/11/h2-icon-small-2.png"
                                                    class="attachment-full size-full" alt="a" />
                                            </div>
                                            <div class="edgtf-link-item-text">
                                                CS:GO
                                            </div>
                                            <a itemprop="url" class="edgtf-link-item-link" href="#" target="_self"></a>
                                        </div>
                                    </div>
                                    <div class="edgtf-link-item ">
                                        <div class="edgtf-link-item-inner">
                                            <div class="edgtf-link-item-image">
                                                <img width="34" height="33"
                                                    src="/static/images/2019/11/h2-icon-small-3.png"
                                                    class="attachment-full size-full" alt="a" />
                                            </div>
                                            <div class="edgtf-link-item-text">
                                                DOTA2
                                            </div>
                                            <a itemprop="url" class="edgtf-link-item-link" href="#" target="_self"></a>
                                        </div>
                                    </div>
                                    <div class="edgtf-link-item ">
                                        <div class="edgtf-link-item-inner">
                                            <div class="edgtf-link-item-image">
                                                <img width="34" height="33"
                                                    src="/static/images/2019/11/h2-icon-small-4.png"
                                                    class="attachment-full size-full" alt="a" />
                                            </div>
                                            <div class="edgtf-link-item-text">
                                                LOL
                                            </div>
                                            <a itemprop="url" class="edgtf-link-item-link" href="#" target="_self"></a>
                                        </div>
                                    </div>
                                    <div class="edgtf-link-item ">
                                        <div class="edgtf-link-item-inner">
                                            <div class="edgtf-link-item-image">
                                                <img width="34" height="33"
                                                    src="/static/images/2019/11/h2-icon-small-5.png"
                                                    class="attachment-full size-full" alt="a" />
                                            </div>
                                            <div class="edgtf-link-item-text">
                                                PUBG
                                            </div>
                                            <a itemprop="url" class="edgtf-link-item-link" href="#" target="_self"></a>
                                        </div>
                                    </div>
                                    <div class="edgtf-link-item ">
                                        <div class="edgtf-link-item-inner">
                                            <div class="edgtf-link-item-image">
                                                <img width="34" height="33"
                                                    src="/static/images/2019/11/h2-icon-small-6.png"
                                                    class="attachment-full size-full" alt="a" />
                                            </div>
                                            <div class="edgtf-link-item-text">
                                                FORTNITE
                                            </div>
                                            <a itemprop="url" class="edgtf-link-item-link" href="#" target="_self"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>