<ul class="active">
    <li>
        <a href="javascript:void(0)" class="famas">
            <img class="arma-radial" src="{{ url_for('static', filename='images/armasRadial/famas.png')}}" alt="">
            <span>FAMAS</span>
            
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="m4a4">
            <img class="arma-radial" src="{{ url_for('static', filename='images/armasRadial/m4a4.png')}}" alt="">
            <span>M4A4</span>
           
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="ssg08">
            <img class="arma-radial" src="{{ url_for('static', filename='images/armasRadial/ssg08.png')}}" alt="">
            <span>SSG 08</span>
            <div></div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="aug">
            <img class="arma-radial" src="{{ url_for('static', filename='images/armasRadial/aug.png')}}" alt="">
            <span>AUG</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="awp">
            <img class="arma-radial" src="{{ url_for('static', filename='images/armasRadial/awp.png')}}" alt="">
            <span>AWP</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="scar20">
            <img class="arma-radial" src="{{ url_for('static', filename='images/armasRadial/scar20.png')}}" alt="">
            <span>SCAR-20</span>
        </a>
    </li>

    <li class="close">
        <a href="javascript:void(0)"  style="border: none;">
  
        </a>
    </li>
</ul>
</div>