<div class="wpb_column vc_column_container vc_col-sm-12 menu-radial menu-categorias section-first-step" >   
    <ul class="active">
        {% for weapon in weaponsTypes %}
            <li>
                <a href="javascript:void(0)" class="categoria-{{weapon.name}} radial-first-step" data-id="{{weapon.id}}">
                    <span>{{weapon.name}}</span>
                </a>
            </li>
        {% endfor %}

        <li class="close">
            <a href="javascript:void(0)" style="border: none;"></a>
        </li>
    </ul>
</div>