<ul class="active">
    <li>
        <a href="javascript:void(0)" class="categoria-Pistolas">
            <span>Pistolas</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="categoria-Pesadas">
            <span>Pesadas</span>   
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="categoria-SMGs">
            <span>SMGs</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="categoria-Rifles">
            <span>Rifles</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="categoria-Luvas">
            <span>Luvas</span>      
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="categoria-Agentes">
            <span>Agentes</span>
        </a>
    </li>
    <li class="close">
        <a href="javascript:void(0)"  style="border: none;">
  
        </a>
    </li>
</ul>
</div>