<div class="edgtf-stream-list-holder edgtf-grid-list edgtf-four-columns e5" style="width: 100%;">
    <div class="edgtf-sb-stream-wrapper edgtf-outer-space">
        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-emperor.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        The Emperor </h3>
                </div>
            </div>
        </div>

        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-Asiimov.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        Asiimov </h3>
                </div>
            </div>
        </div>

        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-battlestar.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        The Battlestar </h3>
                </div>
            </div>
        </div>
        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-bulletRain.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        Bullet Rain </h3>
                </div>
            </div>
        </div>
        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-buzzkill.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        Buzz Kill </h3>
                </div>
            </div>
        </div>

        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-cyberSecurity.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        The Emperor </h3>
                </div>
            </div>
        </div>

        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-daybreak.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        Cyber Security </h3>
                </div>
            </div>
        </div>

        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-desolateSpace.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        The Emperor </h3>
                </div>
            </div>
        </div>

        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-dragonKing.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        Desolate Space </h3>
                </div>
            </div>
        </div>

        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-evilDaymio.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        Evil Daimyo</h3>
                </div>
            </div>
        </div>

        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-howl.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        Howl </h3>
                </div>
            </div>
        </div>

        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-neoNoir.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        Neo-Noir </h3>
                </div>
            </div>
        </div>

        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-royalPaladin.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        Royal Paladin </h3>
                </div>
            </div>
        </div>

        <div class="edgtf-sb-main-stream-item edgtf-item-space">
            <div class="edgtf-sb-main-stream-holder  box-skin">
                <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-tornado.png')}}" class="attachment-full "> 
                <div class="edgtf-sb-text-holder box-holder">
                    <div class="edgtf-sb-channel">Rifle</div>
                    <h3 class="edgtf-sb-title">
                        Tornado</h3>
                </div>
            </div>
        </div>
        
    </div>
</div>