<div class="vc_row wpb_row vc_row-fluid edgtf-mobile-row-left-alignment edgtf-content-aligment-right section-final-step"  style="display: none;">
    <div class="wpb_column vc_column_container vc_col-sm-12 flex-direction-column">
        <img src="{{ url_for('static', filename='images/skins/m4a4/m4a4-emperor.png')}}" class="attachment-full image-final-step"
            style="width: 30%;">
        <h3 class="edgtf-sb-title title-final-step" style="margin: 10px 0px;"> The Emperor </h3>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 flex-direction-column" style="min-height: 300px; margin: 55px 0px;">
        <table class="table-comparation">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="coluna-logo" > 
                        <img src="{{ url_for('static', filename='images/bleikstore.png')}}" class="image-logo"> 
                    </th>
                    <th scope="col" class="coluna-logo"> 
                        <img src="{{ url_for('static', filename='images/csgostore.png')}}" class="image-logo">
                     </th>
                    <th scope="col" class="coluna-logo"> 
                        <img src="{{ url_for('static', filename='images/neshastore.png')}}" class="image-logo"> 
                    </th>
                    <th scope="col" class="coluna-logo"> 
                        <img src="{{ url_for('static', filename='images/steam.svg')}}" class="image-logo"> 
                    </th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>